.Navbar {
    display: flex;
    height: 64px;
    background-color: blueviolet;
    color: white;
}

.NavbarItems {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    padding: 0 2em;
    margin: 0;
    height: inherit;
}

.NavbarItemsRight {
    margin-left: auto;
}

.NavbarItem {
    display: block;
    height: 100%;
}
.NavbarItem:hover {
    background-color: #912df0;
}
.NavbarItem > a {
    color: white;
    text-decoration: none;
    display: block;
    height: 100%;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.active {
    background-color: #7924c9;
}